{% load i18n %}
<div id="cms_toolbar-item_not_published" class="cms_toolbar-item cms_toolbar-item_not_published">
        <span class="cms_toolbar-item_not_published-label">{% trans 'Not published' %}</span>
</div>
