{% load i18n adminmedia sekizai_tags cms_js_tags cms_admin %}
{% addtoblock "js" %}
<script type="text/javascript">
	var _jQuery = window.jQuery || null;
	var _$ = window.$;
</script>
{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% admin_static_url %}js/jquery.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/jquery.cookie.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/classy.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}cms/js/plugins/cms.setup.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}cms/js/plugins/cms.base.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}cms/js/plugins/cms.toolbar.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}cms/js/plugins/cms.placeholders.js"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cms/css/plugins/cms.toolbar.css?v1" media="all" />{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cms/css/plugins/cms.placeholders.css?v1" media="all" />{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
CMS.$(document).ready(function () {
	// initialize toolbar, pass options, items and allow public access
	CMS.API.Toolbar = new CMS.Toolbar('#cms_toolbar', {{ CMS_TOOLBAR_CONFIG|safe }});

	// initialize placeholders, pass options and allow public access
	CMS.API.Placeholders = new CMS.Placeholders('#cms_toolbar', {
		'edit_mode': {{ request.toolbar.edit_mode|bool }},
		'lang': {
			'move_warning': {% javascript_string %}{% trans "The selected element can not be moved to the desired location." %}{% end_javascript_string %},
			'delete_request': {% javascript_string %}{% trans "Are you sure you want to delete this plugin?" %}{% end_javascript_string %},
			'cancel': {% javascript_string %}{% trans "Cancel" %}{% end_javascript_string %}
		}
	});
});
</script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
	window.jQuery = _jQuery || jQuery;
	window.$ = _$ || jQuery;
</script>
{% endaddtoblock %}
<div id="cms_toolbar" class="cms_reset" style="display:none;">
	<!-- start: toolbar -->
	<div class="cms_toolbar">
		<div id="cms_toolbar-toolbar">
			<div class="cms_toolbar-left"></div>
			<div class="cms_toolbar-right"></div>
		</div>
	</div>
	<!-- end: toolbar -->

	<!-- start: placeholders -->
	<div id="cms_placeholder-dim"></div>
	<div id="cms_placeholder-content"><div class="cms_placeholder-content_zone"></div><div class="cms_placeholder-content_inner cms_placeholder-content_loader"></div></div>
	<div id="cms_placeholder-overlay">
		<ul class="cms_placeholder-options">
			<li class="first"><a href="#" class="cms_placeholder-icon cms_placeholder-icon_edit" rel="edit">{% trans "edit" %}</a></li>
			<li><a href="#" class="cms_placeholder-icon cms_placeholder-icon_up" rel="moveup">{% trans "up" %}</a></li>
			<li><a href="#" class="cms_placeholder-icon cms_placeholder-icon_down" rel="movedown">{% trans "down" %}</a></li>
			<li><a href="#" class="cms_placeholder-icon cms_placeholder-icon_delete" rel="delete">{% trans "delete" %}</a></li>
{% comment %}
			<li>
				<a href="#" class="cms_placeholder-icon cms_placeholder-icon_more" rel="more">{% trans "more" %}</a>
				<ul class="cms_placeholder-options_more cms_placeholder-subnav">
					<li class="cms_placeholder-subnav-title"><span>{% trans "Move to placeholder" %}</span>
						<ul><li><span>&nbsp;</span></li></ul>
					</li>
				</ul>
			</li>
{% endcomment %}
		</ul>
		<div class="cms_placeholder-overlay_bg"></div>
	</div>
	<div id="cms_placeholder-success"><div class="cms_placeholder-success_inner"></div></div>
	<!-- end: placeholders -->

	<!-- template: anchor -->
	{% include "cms/toolbar/items/anchor.html" %}

	<!-- template: switcher -->
	{% include "cms/toolbar/items/switcher.html" %}

	<!-- template: button -->
	{% include "cms/toolbar/items/button.html" %}

	<!-- template: list -->
	{% include "cms/toolbar/items/list.html" %}

	<!-- item: html - login -->
	{% include "cms/toolbar/items/login.html" %}
</div>
