{% load i18n %}
<div class="plugin-select-holder">
    <select name="plugins">
        <option value="">{% trans "Available Plugins" %}</option>
	{% regroup installed_plugins by module as module_list %}
	{% for module in module_list %}
	<optgroup label="{% if module.grouper %}{{ module.grouper|capfirst }}{% else %}{% trans "Generic" %}{% endif %}">
	{% for p in module.list %}
		<option value="{{ p.value }}" {% if p.value = 'TextPlugin' %}selected="selected"{% endif %}>{{ p.name }}</option>
	{% endfor %}
	</optgroup>
	{% endfor %}
    </select>
    {% if not add %}
    <span class="add-plugin addlink">{% trans "Add Plugin" %}</span>
    {% if show_copy %}
    <select name="copy-plugins">
        <option value="" selected="selected">{% trans "From Language" %}</option>
        {% for lang_code, lang_name in copy_languages %}
	        {% if language != lang_code %}
	        <option value="{{ lang_code }}">{{ lang_name }}</option>
	        {% endif %}
        {% endfor %}
    </select>
    <span class="copy-plugins addlink">{% trans "Copy Plugins" %}</span>
    {% endif %}

    {% endif %}
</div>